.cont-group{
    height: 70vh;
    width: 50%;
    background-color: while;
   

}

.cont-el-t{
    width: 305px;
    height: 24vh;
    background-color: yellow;
    color: white;
    border: 5px black;
    margin: 10px;
    position: absolute;
    top: 15%;
    left: 20%;

}

.cont-el-o{
    width: 305px;
    height: 24vh;
    background-color: rgb(208, 215, 220);
    color: red;
    border: 5px black;
    margin: 10px;
    position: absolute;
    top: 15%;
    left: 41%;

}

.cont-el-c{
    width: 200px;
    height: 24vh;
    background-color: green;
    color: white;
    border: 5px black;
    margin: 10px;
    position: absolute;
    top: 41%;
    left: 20%;

}

.cont-el-j{
    width: 200px;
    height: 24vh;
    background-color: red;
    color: white;
    border: 5px black;
    margin: 10px;
    position: absolute;
    top: 41%;
    left: 34%;

}

.cont-el-r{
    width: 200px;
    height: 24vh;
    background-color: blue;
    color: white;
    border: 5px black;
    margin: 10px;
    position: absolute;
    top: 41%;
    left: 48%;

}




span{
    font-size: 60px;
}

h4{
    text-align: left;
    padding-left: 10px;
}
